include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content
		.main-cont
			.title-row
				.arrow(onclick="window.history.go(-1); return false;")
					+icon("arrow-conner-left","icon")
				.title.title--lg Пицца
			.tag-wrap
				.tag.tag--condition
					.tag-el(data-condition="hot")
						.tag-el__name Острое
						.tag-el__icon
							+icon("close","icon")
					.tag-el(data-condition="veg")
						.tag-el__name Вегетарианское
						.tag-el__icon
							+icon("close","icon")
					.tag-el(data-condition="firm")
						.tag-el__name Фирменные
						.tag-el__icon
							+icon("close","icon")
					.tag-el(data-condition="unbow")
						.tag-el__name Без лука
						.tag-el__icon
							+icon("close","icon")
			.product-cont
				// TAG type
				//хит = bg:#FFC500 + color:white
				//рекомендуем = bg:#006DD3
				//спец цена = bg:#FF0000
				//новинка = bg:#61D100
				- for (var i=0;i<2;i++)
					+product('item-2.jpg',"grill hot veg")
					+product('item-1.jpg',"classic veg")
					+product('item-3.jpg',"cold firm")
					+product('item-4.jpg',"grill unbow")
				.filter-false.hidden К сожалению ничего не нашлось = (


	+footer()
include ./block_html/_script.pug
